<div class="inc-mag-left">
  <div class="inc-list box-shadow">
    <div class="title">
      <span>待处理</span>
      <a class="pull-right" href="">
        刷新
      </a>
    </div>
    <div class="content">
      <ul>
        <li *ngFor="let incident of incidents" (click)="selectIncident($event, incident.id)">
          <div class="list-cell">
            <div class="cell-icon" [ngClass]="common.getLevelStyle(incident.level)"></div>
            <div class="title">{{incident.title}}</div>
            <div>{{incident.reportTime.toLocaleString()}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="inc-mag-right">
  <div *ngIf="currentIncident" class="inc-detail box-shadow">
    <div class="title">{{currentIncident.title}}</div>
    <div>{{currentIncident.reportTime.toLocaleTimeString()}}</div>
    <div class="{{common.getLevelStyle(currentIncident.level)}}">
      {{currentIncident.level + " - " + common.getLevelTitle(currentIncident.level)}}
    </div>
    <div>{{currentIncident.description}}</div>
  </div>

  <div class="inc-relative-content box-shadow">
    <ul class="header">
      <li class="active">
        <a href="/">资源调派</a>
      </li>
      <li>
        <a href="/">操作日志</a>
      </li>
    </ul>
    <div class="body">
      <div class="page active">
        <p>已调派资源列表</p>
      </div>
    </div>
  </div>
</div>
